<% if current_user && current_user.admin %>
  <div class="form_box">
    <div class="wrap">
      <h1>Editing Feed</h1>
      <%= render 'form', feed: @feed %>
      <%= link_to 'Show', @feed %> |
      <%= link_to 'Back', feeds_path %>
    </div>
  </div>
<% end %>