<% if @jibsa.j_option_03 == 301 %>
  <span>한국</span>
<% elsif @jibsa.j_option_03 == 302 %>
  <span>미국</span>
<% elsif @jibsa.j_option_03 == 303 %>
  <span>캐나다</span>
<% elsif @jibsa.j_option_03 == 304 %>
  <span>독일</span>
<% end %>