<% if @jibsa.j_spare_01.present? %>
  <span>면역력</span>
<% end %>
<% if @jibsa.j_spare_02.present? %>
  <span>헤어볼</span>
<% end %>
<% if @jibsa.j_spare_03.present? %>
  <span>체중조절</span>
<% end %>
<% if @jibsa.j_spare_04.present? %>
  <span>소화기능&변냄새</span>
<% end %>
<% if @jibsa.j_spare_05.present? %>
  <span>피부&모질 개선</span>
<% end %>
<% if @jibsa.j_spare_06.present? %>
  <span>뼈&관절 건강</span>
<% end %>
<% if @jibsa.j_spare_07.present? %>
  <span>치석&구강 건강</span>
<% end %>
<% if @jibsa.j_spare_08.present? %>
  <span>눈물&눈 건강</span>
<% end %>
<% if @jibsa.j_spare_09.present? %>
  <span>비뇨계</span>
<% end %>
<% if @jibsa.j_spare_10.present? %>
  <span>신장&심부전</span>
<% end %>