<% if @jibsa.j_option_07 == 701 %>
  <span>소</span>
<% elsif @jibsa.j_option_07 == 702 %>
  <span>돼지</span>
<% elsif @jibsa.j_option_07 == 703 %>
  <span>닭</span>
<% elsif @jibsa.j_option_07 == 704 %>
  <span>오리</span>
<% elsif @jibsa.j_option_07 == 705 %>
  <span>양</span>
<% elsif @jibsa.j_option_07 == 706 %>
  <span>생선</span>
<% elsif @jibsa.j_option_07 == 707 %>
  <span>칠면조</span>
<% elsif @jibsa.j_option_07 == 708 %>
  <span>사슴</span>
<% elsif @jibsa.j_option_07 == 709 %>
  <span>탈수가금육</span>
<% elsif @jibsa.j_option_07 == 710 %>
  <span>곡물</span>
<% elsif @jibsa.j_option_07 == 711 %>
  <span>야채</span>
<% end %>