<% if @jibsa.j_spare_01.present? %>
  <p>면역력</p>
<% end %>
<% if @jibsa.j_spare_02.present? %>
  <p>헤어볼</p>
<% end %>
<% if @jibsa.j_spare_03.present? %>
  <p>체중조절</p>
<% end %>
<% if @jibsa.j_spare_04.present? %>
  <p>소화기능&변냄새</p>
<% end %>
<% if @jibsa.j_spare_05.present? %>
  <p>피부&모질 개선</p>
<% end %>
<% if @jibsa.j_spare_06.present? %>
  <p>뼈&관절 건강</p>
<% end %>
<% if @jibsa.j_spare_07.present? %>
  <p>치석&구강 건강</p>
<% end %>
<% if @jibsa.j_spare_08.present? %>
  <p>눈물&눈 건강</p>
<% end %>
<% if @jibsa.j_spare_09.present? %>
  <p>비뇨계</p>
<% end %>
<% if @jibsa.j_spare_10.present? %>
  <p>신장&심부전</p>
<% end %>