<br>
<div class="detail_wrap clearfix">
  <p class="info_title">상세정보</p>
  
  <div class="detail_box detail_nutri clearfix">
    <div class="left comm">
      <ul>
        <li>사료 타입</li>
        <li>급여 대상</li>
        <li>브랜드</li>
        <li>제조 국가</li>
        <li>주 원료</li>
        <li class="two_line">효과</li>
        <li>상태</li>
        <li>알레르기</li>
      </ul>
    </div>
    <div class="right comm">
      <ul>
        <li>건식사</li>
        <li>키튼(1세 미만)</li>
        <li>로얄캐닌</li>
        <li>한국</li>
        <li>소, 돼지, 칠면조</li>
        <li class="two_line">피부개선, 면역증강, 다이어트, 모질개선, 눈물개선, 관절건강, 비뇨기</li>
        <li>중성화 수술</li>
        <li>LID</li>
      </ul>
    </div>
  </div> 
  <br><br><br>
  <div class="nutrition_box detail_nutri clearfix">
    <p class="info_title">성분비율</p>
    <div class="left comm">
       <ul>
        <li>주요 성분</li>
        <li>조단백질</li>
        <li>조지방</li>
        <li>조회분</li>
        <li>조섬유</li>
        <li>칼슘</li>
        <li>인</li>
        <li>수분</li>
      </ul>
    </div>

    <div class="mid comm">
      <ul>
        <li>수분 포함</li>
        <li>35%</li>
        <li>26%</li>
        <li>7.83%</li>
        <li>2.01%</li>
        <li>1.29%</li>
        <li>1.09%</li>
        <li>10%</li>
      </ul>
    </div>

    <div class="right comm">
      <ul>
        <li>수분 제거</li>
        <li>35.98%</li>
        <li>26.46%</li>
        <li>7.83%</li>
        <li>2.01%</li>
        <li>1.29%</li>
        <li>1.09%</li>
        <li>0%</li>
      </ul>
    </div>
  </div>


</div>
<br>
<br>
