
  <ul class="filter_box clearfix">
    <p>사료찾기 필터용</p>
    <li>
      <% if @jibsa.j_option_01 == 101 %>
        <em>dry,</em>
      <% elsif @jibsa.j_option_01 == 102 %>
        <em>wet,</em>
      <% end %>
    </li>
    <li>
      <% if @jibsa.j_option_02 == 201 %>
        <em>kitten,</em>
      <% elsif @jibsa.j_option_02 == 202 %>
        <em>adult,</em>
      <% elsif @jibsa.j_option_02 == 203 %>
        <em>senior,</em>
      <% elsif @jibsa.j_option_02 == 204 %>
        <em>allage,</em>
      <% end %>
    </li>
    <li>
      <% if @jibsa.j_option_03 == 301 %>
        <em>korea,</em>
      <% elsif @jibsa.j_option_03 == 302 %>
        <em>usa,</em>
      <% elsif @jibsa.j_option_03 == 303 %>
        <em>canada,</em>
      <% elsif @jibsa.j_option_03 == 304 %>
        <em>germany,</em>
      <% end %>
    </li>
    <li>
      <% if @jibsa.j_option_07 == 701 %>
        <em>beef,</em>
      <% elsif @jibsa.j_option_07 == 702 %>
        <em>pork,</em>
      <% elsif @jibsa.j_option_07 == 703 %>
        <em>chicken,</em>
      <% elsif @jibsa.j_option_07 == 704 %>
        <em>duck,</em>
      <% elsif @jibsa.j_option_07 == 705 %>
        <em>lamb,</em>
      <% elsif @jibsa.j_option_07 == 706 %>
        <em>fish,</em>
      <% elsif @jibsa.j_option_07 == 707 %>
        <em>turkey,</em>
      <% elsif @jibsa.j_option_07 == 708 %>
        <em>venison,</em>
      <% elsif @jibsa.j_option_07 == 709 %>
        <em>탈수가금육,</em>
      <% elsif @jibsa.j_option_07 == 710 %>
        <em>grain,</em>
      <% elsif @jibsa.j_option_07 == 711 %>
        <em>vegetable,</em>
      <% end %>
    </li>
    <li>
      <% if @jibsa.j_spare_01.present? %>
        <em>immune,</em>
      <% end %>
      <% if @jibsa.j_spare_02.present? %>
        <em>hairball,</em>
      <% end %>
      <% if @jibsa.j_spare_03.present? %>
        <em>diet,</em>
      <% end %>
      <% if @jibsa.j_spare_04.present? %>
        <em>digestion,</em>
      <% end %>
      <% if @jibsa.j_spare_05.present? %>
        <em>skin,</em>
      <% end %>
      <% if @jibsa.j_spare_06.present? %>
        <em>bone,</em>
      <% end %>
      <% if @jibsa.j_spare_07.present? %>
        <em>oral,</em>
      <% end %>
      <% if @jibsa.j_spare_08.present? %>
        <em>eyes,</em>
      <% end %>
      <% if @jibsa.j_spare_09.present? %>
        <em>urinary,</em>
      <% end %>
      <% if @jibsa.j_spare_10.present? %>
        <em>kidney,</em>
      <% end %>
    </li>
    <li>
      <% if @jibsa.j_option_04 == 401 %>
        <em>pregnancy,</em>
      <% elsif @jibsa.j_option_04 == 402 %>
        <em>operation,</em>
      <% end %>
    </li>
    <li>
      <% if @jibsa.j_option_05 == 501 %>
        <em>lid,</em>
      <% elsif @jibsa.j_option_05 == 502 %>
        <em>hydrolysis,</em>
      <% elsif @jibsa.j_option_05 == 503 %>
        <em>grainfree,</em>
      <% elsif @jibsa.j_option_05 == 504 %>
        <em>glutenfree,</em>
      <% end %>
    </li>
    <li>
      <% if @jibsa.j_option_06 == 801 %>
        <em>로얄캐닌</em>
      <% elsif @jibsa.j_option_06 == 802 %>
        <em>캐츠랑</em>
      <% elsif @jibsa.j_option_06 == 803 %>
        <em>ANF</em>
      <% elsif @jibsa.j_option_06 == 804 %>
        <em>뉴트리나</em>
        <% elsif @jibsa.j_option_06 == 805 %>
        <em>이즈칸</em>
      <% elsif @jibsa.j_option_06 == 806 %>
        <em>네츄럴코어</em>
      <% elsif @jibsa.j_option_06 == 807 %>
        <em>위스카스</em>
        <% elsif @jibsa.j_option_06 == 808 %>
        <em>퓨리나</em>
      <% elsif @jibsa.j_option_06 == 809 %>
        <em>프로베스트</em>
      <% elsif @jibsa.j_option_06 == 810 %>
        <em>오리젠</em>
        <% elsif @jibsa.j_option_06 == 811 %>
        <em>네추럴밸런스</em>
      <% elsif @jibsa.j_option_06 == 812 %>
        <em>나우프레쉬</em>
      <% elsif @jibsa.j_option_06 == 813 %>
        <em>대한사료</em>
        <% elsif @jibsa.j_option_06 == 814 %>
        <em>웰츠</em>
      <% elsif @jibsa.j_option_06 == 815 %>
        <em>뉴트리웰</em>
      <% elsif @jibsa.j_option_06 == 816 %>
        <em>퓨어비타</em>
        <% elsif @jibsa.j_option_06 == 817 %>
        <em>한끼뚝딱</em>
      <% elsif @jibsa.j_option_06 == 818 %>
        <em>세라피드</em>
      <% elsif @jibsa.j_option_06 == 819 %>
        <em>뉴트리플랜</em>
        <% elsif @jibsa.j_option_06 == 820 %>
        <em>사조동아원</em>
      <% elsif @jibsa.j_option_06 == 821 %>
        <em>후새</em>
      <% elsif @jibsa.j_option_06 == 822 %>
        <em>원더캐츠</em>
      <% elsif @jibsa.j_option_06 == 823 %>
        <em>헤일로</em>
      <% elsif @jibsa.j_option_06 == 824 %>
        <em>프리스키</em>
      <% elsif @jibsa.j_option_06 == 825 %>
        <em>트로벳</em>
      <% elsif @jibsa.j_option_06 == 826 %>
        <em>탐사</em>
      <% elsif @jibsa.j_option_06 == 827 %>
        <em>위시본</em>
      <% elsif @jibsa.j_option_06 == 828 %>
        <em>웰니스</em>
      <% elsif @jibsa.j_option_06 == 829 %>
        <em>치킨수프</em>
      <% elsif @jibsa.j_option_06 == 830 %>
        <em>슈슈</em>
      <% elsif @jibsa.j_option_06 == 831 %>
        <em>올가밀</em>
      <% elsif @jibsa.j_option_06 == 832 %>
        <em>마즈</em>
      <% elsif @jibsa.j_option_06 == 833 %>
        <em>어스본홀리스틱</em>
      <% elsif @jibsa.j_option_06 == 834 %>
        <em>이퀼리브리오</em>
      <% elsif @jibsa.j_option_06 == 835 %>
        <em>뉴웨이브</em>
      <% elsif @jibsa.j_option_06 == 836 %>
        <em>아카나</em>
      <% elsif @jibsa.j_option_06 == 837 %>
        <em>풀무원</em>
      <% elsif @jibsa.j_option_06 == 838 %>
        <em>풀무원아미오</em>
      <% elsif @jibsa.j_option_06 == 839 %>
        <em>밥이보약</em>
      <% elsif @jibsa.j_option_06 == 840 %>
        <em>하림더리얼</em>
      <% elsif @jibsa.j_option_06 == 841 %>
        <em>캣츠맘</em>
      <% elsif @jibsa.j_option_06 == 842 %>
        <em>네츄럴랩</em>
      <% end %>
    </li>
  </ul>

