<nav class="navigation nav_pc">
  <a href="/jibsas" class="navigation-item">컨텐츠</a>
  <a href="/hubs/for_catfeed_store" class="navigation-item">사료 스토어</a>
  <!-- <a href="/posts/hashtag/electronics" class="navigation-item">Electronics</a> -->
  <a href="/hubs/dry_feed" class="navigation-item">영양소 계산기</a>
  <a href="/hubs/nutrition_dic" class="navigation-item">영양소 백과사전</a>
  <a href="/hubs/about_us" class="navigation-item">About Us</a>
</nav>