<nav class="navigation nav_pc">
  <a href="/" class="navigation-item">Home</a>
  <a href="/posts/hashtag/electronics" class="navigation-item">Electronics</a>
  <a href="/posts/hashtag/cellphone_accessories" class="navigation-item">Cellphone_accessories</a>
  <a href="/posts/hashtag/computer_accessories" class="navigation-item">Computer_accessories</a>
  <a href="/posts/hashtag/living" class="navigation-item">Living</a>
  <a href="/posts/hashtag/kitchen" class="navigation-item">Kitchen</a>
  <a href="/posts/hashtag/fashion" class="navigation-item">Fashion</a>
  <a href="/posts/hashtag/bath" class="navigation-item">Bath</a>
  <a href="/posts/hashtag/ofiice" class="navigation-item">Ofiice</a>
  <a href="/posts/hashtag/for_fun" class="navigation-item">For_fun</a>
  <a href="/hubs/about_us" class="navigation-item">About Us</a>
  <% if current_user && current_user.admin %>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete, :class => "navigation-item" %>
    <%= link_to 'New Post', new_post_path, :class => "navigation-item" %>
  <% else %>
    <%= link_to 'Sign up', new_user_registration_path, :class => "navigation-item" %>
    <%= link_to "Sign in", new_user_session_path, :class => "navigation-item" %>
  <% end %>
</nav>

<nav class="navigation nav_mobile">
  <div class="dummy-viewport">
    <div class="horizontal-menu">
      <ul class="horizontal-menu-items">
        <li class="horizontal-menu-item"><a href="/" class="horizontal-menu-link">Home</a></li>
        <li class="horizontal-menu-item"><a href="/posts/hashtag/electronics" class="navigation-item">Electronics</a></li>
        <li class="horizontal-menu-item"><a href="/posts/hashtag/cellphone_accessories" class="navigation-item">Cellphone_accessories</a></li>
        <li class="horizontal-menu-item"><a href="/posts/hashtag/computer_accessories" class="navigation-item">Computer_accessories</a></li>
        <li class="horizontal-menu-item"><a href="/posts/hashtag/living" class="navigation-item">Living</a></li>
        <li class="horizontal-menu-item"><a href="/posts/hashtag/kitchen" class="navigation-item">Kitchen</a></li>
        <li class="horizontal-menu-item"><a href="/posts/hashtag/fashion" class="navigation-item">Fashion</a></li>
        <li class="horizontal-menu-item"><a href="/posts/hashtag/bath" class="navigation-item">Bath</a></li>
        <li class="horizontal-menu-item"><a href="/posts/hashtag/ofiice" class="navigation-item">Ofiice</a></li>
        <li class="horizontal-menu-item"><a href="/posts/hashtag/for_fun" class="navigation-item">For_fun</a></li>
        <li class="horizontal-menu-item"><a href="/hubs/about_us" class="navigation-item">About Us</a></li>
      </ul>
    </div>
  </div>
</nav>


