<nav class="navigation nav_pc">
  <a href="/" class="navigation-item">Home</a>
  <!-- <a href="/posts/hashtag/electronics" class="navigation-item">Electronics</a> -->
  <a href="/posts/hashtag/cellphone_accessories" class="navigation-item">Cellphone_accessories</a>
  <a href="/posts/hashtag/computer_accessories" class="navigation-item">Computer_accessories</a>
  <a href="/posts/hashtag/living" class="navigation-item">Living</a>
  <a href="/posts/hashtag/kitchen" class="navigation-item">Kitchen</a>
  <a href="/posts/hashtag/fashion" class="navigation-item">Fashion</a>
  <a href="/posts/hashtag/bath" class="navigation-item">Bath</a>
  <a href="/posts/hashtag/office" class="navigation-item">Office</a>
  <a href="/posts/hashtag/for_fun" class="navigation-item">For_fun</a>
  <a href="/posts/hashtag/car_accessories" class="navigation-item">car_accessories</a>
  <a href="/hubs/about_us" class="navigation-item">About Us</a>
</nav>

<!-- <nav class="navigation nav_mobile">
  <div class="dummy-viewport">
    <div class="horizontal-menu">
      <ul class="horizontal-menu-items">
        <li class="horizontal-menu-item"><a href="/" class="horizontal-menu-link">Home</a></li>
        <li class="horizontal-menu-item"><a href="/posts/hashtag/cellphone_accessories" class="navigation-item">Cellphone_accessories</a></li>
        <li class="horizontal-menu-item"><a href="/posts/hashtag/computer_accessories" class="navigation-item">Computer_accessories</a></li>
        <li class="horizontal-menu-item"><a href="/posts/hashtag/living" class="navigation-item">Living</a></li>
        <li class="horizontal-menu-item"><a href="/posts/hashtag/kitchen" class="navigation-item">Kitchen</a></li>
        <li class="horizontal-menu-item"><a href="/posts/hashtag/fashion" class="navigation-item">Fashion</a></li>
        <li class="horizontal-menu-item"><a href="/posts/hashtag/bath" class="navigation-item">Bath</a></li>
        <li class="horizontal-menu-item"><a href="/posts/hashtag/office" class="navigation-item">Office</a></li>
        <li class="horizontal-menu-iteë”"><a href="/posts/hashtag/for_fun" class="navigation-item">For_fun</a></li>
        <li class="horizontal-menu-item"><a href="/posts/hashtag/car_accessories" class="navigation-item">car_accessories</a></li>
        <li class="horizontal-menu-item"><a href="/hubs/about_us" class="navigation-item">About Us</a></li>
      </ul>
    </div>
  </div>
</nav>


 -->