@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');

h1,h2,h3,h4,h5,h6,p,ul,li,address,form,fieldset,legend,input,button,dl,dt,dd,table,thead,tbody,tfoot,tr,th,td{margin:0;padding:0;font-family:inherit;}
a img{border:0;}/* a태그로 감싼 이미지의 파란 테두리 삭제 (ie9-10) */
a{text-decoration:none;color:#000;}
ul,li{list-style:none;}/* li앞에 동그라미 삭제 */
em,address{font-style:normal;}
fieldset{border:0;}/*테두리삭제*/
legend{display:none;}/* 숨김 */
button{border:0;background:none;cursor:pointer;}
table caption{display:none;}
input, textarea, select{border:1px solid #ccc;-moz-appearance:none;appearance:none;-webkit-appearance:none;outline:none;}
*, *:after, *:before{box-sizing:border-box;}

.clearfix:after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

body{margin:0;padding:0;font-size:15px;color:#000;line-height:1.5;font-weight:300;-webkit-scrollbar:none;font-family: 'Hi Melody', cursive;}
@media screen and (max-width:640px){
  body{font-size:13px;font-weight:400;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  body{font-size:13px;font-weight:400;}
}

.layout{min-width:1200px;width:100%;/*overflow:hidden;position:relative;*/}
.wrap{width:1200px;margin:0 auto;}
@media screen and (max-width:640px){
  .layout{min-width:0;}
  .wrap{width:auto;margin:0 3%;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  .layout{min-width:0;}
  .wrap{width:auto;margin:0 3%;}
}


/* From Page */
.form_box{margin-top:30px;}
.form_box label{display:block;}
.form_box input{width:40%;padding:10px;margin-bottom:5px;}
.form_box .pricing{margin:10px 0;}
.form_box .pricing label{float:left;}
.form_box .pricing input{float:left;width:100px;margin-right:10px;}
.form_box .pricing .star_rating input{width:50px;}



/* pagination */
.pagination{margin-top:20px;}
.pagination span{font-size:25px;margin-left:10px;}
.pagination span.active{background:#a8dee2;padding:5px 10px;border-radius:10px;}



/*About Us*/
.about_us{width:1000px;margin:120px auto 0 auto;font-family: 'Montserrat', sans-serif;}
.about_us .sections{margin-bottom:50px;border-bottom:1px solid #ccc;padding-bottom:10px;}
.about_us h2{margin-bottom:15px;color:#000;background:#fff;padding:7px 10px;border-radius:10px;display:inline-block;}
.about_us h3{padding:0 10px;margin-bottom:5px;}
.about_us p{margin-bottom:30px;line-height:25px;}
.about_us .headline{font-size:150px;font-weight:bold;margin-bottom:-20px;}
.about_us .headline em a{font-size:15px;color:#000;}
.about_us .mission{}
.about_us .mission .under_head{margin-bottom:55px;}
.about_us .mission .what_is .left, .about_us .mission .what_is .right{}
.about_us .mission p span{font-size:50px;font-weight:bold;}
.about_us .works .works_box{float:left;width:31.33%;margin:15px 1% 0 1%;text-align:center;}
.about_us .bodyline{font-size:40px;font-weight:bold;}
.about_us .qna p{padding:0 20px;}


@media screen and (max-width:640px){
  .about_us{width:100%;margin-top:30px;}
  .about_us .sections{margin:30px 0;padding:25px;}
  .about_us .headline{font-size:65px;margin-bottom:3px;}
  .about_us .headline em a{font-size:10px;}
  .about_us h2{font-size:15px;}
  .about_us h3{padding:0;}
  .about_us p{margin-bottom:20px;}
  .about_us .mission .under_head{margin-bottom:30px;}
  .about_us .mission .left,
  .about_us .mission .right{float:none;width:100%;margin:0;}
  .about_us .qna p{padding:0;}
  .about_us .qna a{width:100%;font-size:19px;display:block;margin:0;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .about_us{width:100%;margin-top:120px;}
}