/* Index Section *************/
:root {
  --c-gray-100: #fbf8f2;
  --c-gray-200: #fcfdfe;
  --c-gray-300: #e9ebec;
  --c-gray-400: #e3e4ea;
  --c-gray-500: #5f5f5f;
  --c-gray-900: #1d1d1d;
  --c-blue-300: #a8dee2;
  --c-blue-500: #2ab3c0;
  --c-green-500: #80b895;
  --c-green-300: #bad5ca;
  --c-red-500: #ea605e;
  --c-yellow-300: #f8e0b1;
  --c-yellow-500: #f9bc73;
  --rotation: -3deg;
}

/* Here Section *************/
.hero{position:relative}
.hero-overlay{text-align:center;position:absolute;text-transform:uppercase;z-index:0;width:100%}
.hero-overlay h1{font-size:6vw;transform:translateY(10vw);color:#fff;letter-spacing:.45rem;font-weight:700}
.hero-image{display:block;z-index:-1;margin-left:auto;margin-right:auto;width:100%;height:300px;object-fit:cover;border-radius:20px}

@media screen and (max-width:640px){
  .hero-image{height:210px;}
}

/* Header Section */
.header-logo{display:flex;justify-content:center;align-items:center;width:48px;height:48px;background-color:var(--c-blue-300);border:2px solid var(--c-gray-900);border-radius:15px}
.header-logo div{display:flex;flex-wrap:wrap;width:24px;height:24px}
.header-logo span{display:block;width:12px;height:12px;border:2px solid var(--c-gray-900);background-color:var(--c-yellow-500);border-radius:50%}
.header-title{}
.header-title em:nth-child(1){color:#e12742;}
.header-title em:nth-child(2){color:#e75469;}
.header-title em:nth-child(3){color:#e3746b;}
.header-title em:nth-child(4){color:#ec93a7;}

/* Navbar Section */
.navigation{margin-top:2rem;padding-bottom:.75rem;border-bottom:1px solid var(--c-gray-900);}
.navigation-item{font-size:1.125rem;display:inline-block;padding:0 .5rem;text-decoration:none;color:inherit;position:relative;z-index:1;font-weight:500}
.navigation-item.active{font-weight:800}
.navigation-item.active:before{background-color:var(--c-yellow-500)}
.navigation-item:before{content:"";display:block;position:absolute;width:100%;height:14px;background-color:transparent;z-index:-1;bottom:-2px;left:0;transition:.15s ease}
.navigation-item+.navigation-item{margin-left:1.25rem}
.navigation-item:focus,.navigation-item:hover:before{background-color:var(--c-yellow-500)}
/* Navebar only display on Moblie */
.nav_mobile{display:none;}
.horizontal-menu{overflow:hidden;height:44px;padding:4px 0}
.horizontal-menu .horizontal-menu-items{width:100%;font-size:.1px;white-space:nowrap;padding-bottom:50px;overflow-x:auto;overflow-y:hidden;-webkit-appearance:none;-moz-appearance:none;appearance:none;-webkit-overflow-scrolling:touch}
.horizontal-menu .horizontal-menu-items>.horizontal-menu-item{display:inline-block;font-size:1rem;line-height:1;padding:0 5px;-webkit-animation-name:slidein-animation;animation-name:slidein-animation;-webkit-animation-duration:350ms;animation-duration:350ms;-webkit-animation-fill-mode:backwards;animation-fill-mode:backwards}
.horizontal-menu .horizontal-menu-link{display:block;color:inherit;text-decoration:none;padding:10px 5px}


.index_wrap{margin:30px auto;border-radius:25px;overflow:hidden;padding:2rem;box-shadow:0 0 0 10px var(--c-gray-300),0 0 0 11px var(--c-gray-200);background-color:#fff;position:relative;z-index:1}
.index_wrap img{display:block;max-width:100%;}
.index_wrap input, .index_wrap button{font:inherit;}
.header{display:grid;align-items:center;justify-content:space-between;margin-bottom:1.5rem;grid-template-columns:1fr 2fr 1fr}

.header-title{font-size:28px;font-weight:600;margin-left:auto;margin-right:auto;font-family: 'Hi Melody', cursive;}
.header-buttons{display:flex;align-items:center;justify-content:flex-end}

.title{margin-top:1rem}
.title h1{font-size:2rem;font-weight:700}
.title p{font-size:1.5rem;color:var(--c-gray-500);margin-top:-10px;}
.title .hashtag_indicator{}
.title .hashtag_indicator span{font-size:30px;border-bottom:3px solid #f9bc73;box-shadow:inset 0 -15px 0 #f9bc73;}
.search{position:relative;z-index:1;transition:.15s ease}
.search:focus-within,.search:hover{transform:translatey(-2px)}
.search-inner{display:flex;align-items:center;border:2px solid var(--c-gray-900);border-radius:15px;height:48px;font-size:1rem;width:100%;background-color:#fff;position:relative;margin-top:10px}
.search-inner:after{content:"";/*display:block;*/display:none;position:absolute;z-index:-1;width:96%;height:100%;bottom:-9px;left:calc(50% - 48%);border-radius:20px;border:2px solid var(--c-gray-900);background-color:var(--c-gray-100);transition:.15s ease}
.search_inner_modal:after{display:block;}
.search-inner:focus-within input::-moz-placeholder,.search-inner:hover input::-moz-placeholder{color:#787878}
.search-inner:focus-within input:-ms-input-placeholder,.search-inner:hover input:-ms-input-placeholder{color:#787878}
.search-inner:focus-within input::placeholder,.search-inner:hover input::placeholder{color:#787878}
.search-inner:focus-within:after,.search-inner:hover:after{transform:translatey(2px)}
.search-button{display:flex;align-items:center;justify-content:center;border-radius:15px 0 0 15px;border:0;background-color:var(--c-gray-100);position:relative;height:100%;border-right:2px solid var(--c-gray-900);width:70px;transition:.15s ease;cursor:pointer}
.search-button i{font-size:1.25em;}
.search-button:focus, .search-button:hover{background-color:var(--c-yellow-300);outline:0;}
.search-input{border:0;border-radius:0 15px 15px 0;height:100%;background-color:#fff;width:100%;padding-left:1em;padding-right:1em}
.search-input:focus{outline:0}
.search-input::-moz-placeholder{font-weight:600;color:var(--c-gray-900);-moz-transition:.15s ease;transition:.15s ease}
.search-input:-ms-input-placeholder{font-weight:600;color:var(--c-gray-900);-ms-transition:.15s ease;transition:.15s ease}
.search-input::placeholder{font-weight:600;color:var(--c-gray-900);transition:.15s ease}

.productlists{margin-top:50px;}
.currently-playing{padding:1rem .5rem}
.card_box{float:left;width:23%;margin:1% 1% 5% 1%;border:2px solid;border-radius:20px;padding:15px;position:relative;background:#fff;}
.card_box:after{content:"";display:block;position:absolute;z-index:-1;width:95%;height:100%;bottom:-9px;left:calc(50% - 47.5%);border-radius:20px;border:2px solid var(--c-gray-900);background-color:var(--c-yellow-300)}
.card_box .image_box{position:relative;width:100%;height:200px;}
.card_box .image_box img{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:80%;height:80%;object-fit:contain;}
.card_box .inner em{color:#ccc;}
.card_box .inner .admin_controller{display:inline-block;}
.card_box .inner .p_title{word-break:break-all;line-height:1.4;height:1.4em;overflow:hidden;display:-webkit-box;display:-ms-flexbox;vertical-align:top;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:1;}
.card_box .inner .p_price{font-size:25px;display:inline-block;}
.card_box .sale_cat{position:absolute;top:-45px;left:5px;}
.card_box .sale_cat img{width:200px;}




@media screen and (max-width:640px){
  /*.productlists{margin-top:45px;}*/
  .title h1{font-size:1.7rem;}
  .title p{font-size:1.1rem;}
  .index_wrap{padding:10px;border:none;box-shadow:none;margin-top:20px;}
  .nav_pc{display:none;}
  .nav_mobile{display:block;margin:0;padding:0;}
  .search_pc{display:none;}
  .card_box{width:48%;padding:12px;margin-bottom:60px;height:285px;}
  .card_box .image_box{height:150px;}
  .card_box .image_box img{width:90%;height:90%;}
  .card_box .inner{margin-top:10px;}
  .card_box .inner .p_price{display:block;}
  .card_box .sale_cat{top:-34px;}
  .card_box .sale_cat img{width:150px;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .header{grid-template-columns: 0.5fr 2fr 2fr;}
  /*.productlists{margin-top:50px;}*/
  .productlists .card{width:31%;}
  .card_box{width:31%;margin-bottom:20px;height:320px;margin-bottom:60px;}
  .card_box .inner .p_price{display:block;}
  .nav_pc{display:none;}
  .nav_mobile{display:block;margin:0;padding:0;}

}

/* Show Page Section ************/
.show_index{width:1000px;margin:5% auto;padding:1%;}
.show_index .show_header_m header{margin:0;padding:10px;}
.show_nav{margin:0 0 20px 0;padding:0 25px;}
.show_index .show_card{margin-top:45px;padding:30px;}
.show_index .show_card .image_box{float:left;width:50%;position:relative;height:350px;border:2px solid;border-radius:20px;background:#fff;}
.show_index .show_card .image_box:after{content:"";display:block;position:absolute;z-index:-1;width:95%;height:100%;bottom:-9px;left:calc(50% - 47.5%);border-radius:20px;border:2px solid var(--c-gray-900);background-color:var(--c-yellow-300);}
.show_index .show_card .image_box img{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:80%;height:80%;object-fit:contain;}

.show_index .show_card .inner_section{float:left;width:45%;text-align:center;margin-left:5%;height:350px;position:relative;}
.show_index .show_card .inner_section .inner{padding:0 2.5%;margin-top:30px;}
.show_index .show_card .inner_section .inner h2{margin-bottom:5px;}
.show_index .show_card .inner_section .inner p{font-size:17px;}
.show_index .show_card .inner_section .inner .is_price{font-size:25px;}
.show_index .show_card .inner_section .inner .hashtag{}
.show_index .show_card .inner_section .inner em{color:#ccc;}
.show_index .show_card .inner_section .inner .star_rating{margin-bottom:10px;}
.show_index .show_card .inner_section .inner .star_rating img{height:17px;vertical-align:sub;display:inline-block;}
.show_index .show_card .inner_section .inner .star_rating em{vertical-align:middle;}
.show_index .show_card .inner_section .btn{position:absolute;bottom:0;width:100%;}

.show_index .notice{color:#ccc;margin:5%;border-top:1px solid;padding-top:10px;font-size:12px;}
.show_index .notice ul{margin-left:20px;}
.show_index .notice ul li{list-style:circle;}
.show_index .notice ul li a{color:#ccc;}

.menu-inner{margin:2rem 2.5% 0 2.5%;border-radius:15px;border:2px solid var(--c-gray-900);justify-content:space-between;padding:.75rem;background-color:var(--c-blue-500);position:relative}
.menu-inner:after{content:"";display:block;position:absolute;z-index:-1;width:95%;height:100%;bottom:-9px;left:calc(50% - 47.5%);border-radius:20px;border:2px solid var(--c-gray-900);background-color:var(--c-gray-100)}
.menu-inner .sale_cat{position:absolute;top:-48px;}
.menu-inner .sale_cat img{width:200px;}
.menu-item{display:inline-block;width:48%;text-align:center;color:#fff;border-radius:15px;padding-top:.375rem;padding-bottom:.375rem;text-decoration:none;background-color:transparent;border:2px solid transparent}
.menu-item.active,.menu-item:focus,.menu-item:hover{border-color:var(--c-gray-900);background-color:var(--c-yellow-500);color:var(--c-gray-900)}*,:focus{outline:0}


@media screen and (max-width:640px){
  .show_index{width:100%;margin:20px 0;}
  .show_index .show_card{margin:0;}
  .show_index .show_card .card{float:none;width:100%;}
  .show_index .show_card .image_box{float:none;width:100%;}
  .show_index .show_card .inner_section{float:none;width:100%;margin:30px 0 0 0;height:auto;}
  .menu-inner{margin:4rem 0 0 0;}
  .show_index .show_card .inner_section .btn{position:relative;}
  .show_index .show_card .inner_section .btn .sale_cat{position:absolute;top:-48px;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .show_index{width:100%;margin:30px 0 0 0;}
}



/* Search Modal */
@media only screen and (min-width: 40em) {
  .modal-overlay{display:flex;align-items:center;justify-content:center;position:fixed;top:0;left:0;width:100%;height:100%;z-index:5;background-color:rgba(0, 0, 0, 0.6);opacity:0;visibility:hidden;
    -webkit-backface-visibility: hidden;backface-visibility: hidden;transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  }
  .modal-overlay.active{opacity:1;visibility:visible;}
}
/* Modal */
.modal-overlay .modal {display:flex;align-items:center;justify-content:center;position:relative;margin:0 auto;background-color:#fff;width:600px;max-width:75rem;min-height:20rem;padding:1rem;border-radius:10px;opacity:0;overflow-y:auto;visibility:hidden;box-shadow:0 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-backface-visibility:hidden;backface-visibility:hidden;transform:scale(1.2);transition:all 0.6s cubic-bezier(0.55, 0, 0.1, 1);z-index:9999;}
.modal-overlay .modal .close-modal{position:absolute;cursor:pointer;top:5px;right:10px;opacity:0;-webkit-backface-visibility:hidden;backface-visibility:hidden;transition:opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);transition-delay: 0.3s;}
.modal-overlay .modal .close-modal svg{width:1.75em;height:1.75em;}
.modal-overlay .modal .modal-content{width:100%;text-align:center;color:#000;opacity:0;-webkit-backface-visibility:hidden;backface-visibility:hidden;transition:opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);transition-delay:0.3s;}
.modal-overlay .modal .modal-content p{font-size:20px;}
.modal-overlay .modal .modal-content span{}
.modal-overlay .modal .modal-content .search-index{margin-top:15px;}
.modal-overlay .modal .modal-content .search-index input{width:70%;padding:10px;border-radius:15px}
.modal-overlay .modal .modal-content .sub_menu{text-align:left;height:500px;overflow-x:hidden;overflow-y:auto;}
.modal-overlay .modal .modal-content .sub_menu .sub_menu_card{margin:10px 0;padding:10px;}
.modal-overlay .modal .modal-content .sub_menu .sub_menu_card h3{}
.modal-overlay .modal .modal-content .sub_menu .sub_menu_card ul{}
.modal-overlay .modal .modal-content .sub_menu .sub_menu_card ul li{float:left;margin:0 10px 10px 0;background-color:var(--c-yellow-500);color:var(--c-gray-900);border:1px solid;border-radius:20px;padding:5px 10px;}
.modal-overlay .modal .modal-content .sub_menu .sub_menu_card ul li a{display:block;}
.modal-overlay .modal.active{visibility:visible;opacity:1;transform:scale(1);}
.modal-overlay .modal.active .modal-content{opacity:1;}
.modal-overlay .modal.active .close-modal{transform:translateY(10px);opacity:1;}

/* Mobile styling */
@media only screen and (max-width: 39.9375em){
  .modal-overlay .modal{position:fixed;top:0;left:0;width:100%;height:100%;-webkit-overflow-scrolling:touch;border-radius:0;transform:scale(1.1);padding:0 !important;}
  .modal-overlay .modal .modal-content{height:500px;padding:10px;}
  .modal-overlay .close-modal{right:20px !important;}
}
@media screen and (min-width:641px) and (max-width:1199px){
 .modal-overlay .modal .modal-content{margin-top:0;height:500px;} 
}





